.method-table{
    width: 90%;
    border-collapse: collapse;
    
    & tr, thead {
        height: 2em;
    }

    & thead > tr > td {
        background-color: rgb(24, 24, 24);
    }

    & tr:nth-child(odd) {
        background-color: var(--light);
    }

    & tr:nth-child(even) {
        background-color: var(--main);
    }
}
